build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
FrogTalk.xcodeproj/
Pods/
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/
GoogleService-Info.plist
